{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{else}}
<h2>No posts yet, add one now!</h2>
{{/if}}

<button type="submit" class="btn btn-info"><a class="link" href="/dashboard/new">add a new post</a></button>

<script src="/javascript/add-post.js"></script>