<section>
    <h2>Create New Post</h2>

    <form class="new-post-form">
        <div class="form-group">
            <label for="post-title">Title</label>
            <textarea class="form-control" type="text" id="post-title" name="post-title"></textarea>
        </div>
        <div class="form-group">
            <label for="post-url">Post Content</label>
            <textarea class="form-control" id="post-url" name="post-url" rows="4"></textarea>
        </div>
        <button type="button" class="btn btn-info">Create</button>
    </form>
</section>

{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{else}}
<h2>No posts yet!</h2>
{{/if}}

<script src="/javascript/add-post.js"></script>