<section>
    <h2>Create New Post</h2>

    <form class="new-post-form" id="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <textarea type="text" id="post-title" name="post-title"></textarea>
        </div>
        <div>
            <label for="post-url">Post Content</label>
            <textarea id="post-url" name="post-url" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-info">Create</button>
    </form>
</section>

<script src="/javascript/add-post.js"></script>