{{!-- sign up form --}}
<h3 class="navFont p-1">SIGN UP</h3>
<form class="signup-form m-3 p-3">
  <div class="mb-3">
    <label for="username-signup" class="form-label">username</label>
    <input type="text" class="form-control" id="username-signup" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="email-signup" class="form-label">email</label>
    <input type="email" class="form-control" id="email-signup">
  </div>
  <div class="mb-3">
    <label for="password-signup" class="form-label">password</label>
    <input type="password" class="form-control" id="password-signup">
  </div>
  </br>
  <button type="submit" class="btn btn-info">sign up</button>
</form>


<script src="/javascript/login.js"></script>